@import url("https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Dancing+Script&family=Forum&family=Inter:wght@400;700&family=Lato:wght@400;700&family=Libre+Baskerville&family=Lobster&family=Merriweather:wght@300&family=Mulish&display=swap");

html {
  background-color: rgba(255, 182, 193, 0.5);
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
  /* background-color: beige; this will override those of specific components (but not App)*/
}
.App {
  /* background-color: rgba(230, 110, 67, 0.8); */
  width: 100%;
}
.home {
  width: 90%;
  height: 80vh;
  background-image: linear-gradient(lightpink, white, #fb3b61);
  border: 5px solid rgb(240, 51, 152);
  border-radius: 3rem;
  margin: 5% auto;
  overflow: hidden;
}
.home p {
  color: #db1793;
  font-size: 3rem;
  letter-spacing: 1.5rem;
  line-height: 1.7;
  font-weight: 700;
  text-align: center;
  margin-top: 6rem;
  text-transform: uppercase;
}
.btn {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}
.home a {
  background-image: linear-gradient(beige, rgb(240, 158, 5));
  font-size: 3rem;
  text-decoration: none;
  padding: 2rem 16rem;
  /* border: 4px solid #f7a0a9; */
  border-radius: 100px;
  box-shadow: 0 1rem 2rem rgba(228, 65, 152, 0.7);
  animation: moveInButton 1s ease-out 0.75s;
  animation-fill-mode: backwards;
  position: relative;
  transition: all 0.4s;
}
.home a::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(beige, orange);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  z-index: -1;
  transition: all 0.4s;
}
.home a:hover {
  transform: translateY(-3rem);
}
.home a:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.6);
}
@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  25% {
    opacity: 0.5;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.question {
  font-size: 3rem;
  background-color: cornflowerblue;
  width: 90%;
  height: 100vh;
  margin-top: 10rem;
}
.options {
  line-height: 2.5;
}
.options a {
  background-color: white;
  text-decoration: none;
  font-size: 2.5rem;
}
p {
  font-size: 3rem;
}
